.manager_module_content{
  display: flex;
  justify-content: space-between;
  background-color: #ddd;
  min-height: 80vh;
}

.side_menu{
  min-height: 80vh;
  width: 300px;
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 15px 5px;
  margin: 5px;
}
.side_menu h2{
  width: 300px;
  text-align: center;
}
.side_menu-active{
  display: flex;
}

.side_menu ul{
  margin-top: 25px;
}
.side_menu ul li{
  margin: 5px 0;
}
.ProductManager_service{
  flex-grow: 1;
  position: relative;
  margin: 5px;
  background-color: #fff;
  padding: 15px 5px;
  position: relative;
}