
.AsideMenu{
  height: 100%;
  min-width: 250px;
  background-color: #fff;
  padding: 10px;
  transform:  translate(-110%, 0);
  display: none;
}

.AsideAcitve{
  transform: translate(0, 0);
  display: block;
}

.nav-menu-modules{
  padding: 25px;
}

.nav-menu-modules li{
  margin: 10px 0;
}

