.wsp-box{
  position: relative;
  margin: 15px;
  border: var(--wm-border-default) 1px solid; 
  min-height: 100px;
  padding: 15px 5px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.wsp-box .wsp-box-title{
  position: absolute;
  top: -10px;
  background-color: #fff;
  padding: 0 5px;
}

.wm-span-group{
  font-size: 1.1rem;
  border: 2px solid var(--wm-border-default);
  min-width: 200px;
  text-align: center;
  margin-top: 5px;
}
.wm-span-group span{
  margin-right: 15px;
}

.w-100{
  width: 100%;
}
.mh-100{
  height: 80px;
  overflow-y: auto;
  text-align: start;
  padding: 5px;
  text-justify: auto;
}
.wm-thumbnail{
  height: 175px;
  width: 100%;
  display: flex;
  overflow-x: auto;
}
.w-thumbnail-content{
  width: 145px;
  background-color: #fff;
  margin: 5px;
  border: 1px solid var(--wm-border-default);
}
.w-thumbnail-content img{
  width: 100%;
}

.prevBTN{
  position: absolute;
  z-index: 100;
  right: 0;
  top: 0;
}
.prevBTN button{
  display: flex;
   align-items: center;
   justify-content: center;
   height: 25px;
   width: 75px;
   color: #ddd;
   background-color: green;
   border: none;
   cursor: pointer;
   border-radius: 5px;
}
.prevBTN button svg{
  margin-left: 5px
}
.prevBTN button:hover{
  background-color: rgb(7, 138, 7);
  color: #fff;
}